.aboutus {
  &__item {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.about {
  &__photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    margin-bottom: 32px;
  }

  &__photo {
    grid-column: 2 / 4;
    width: 100%;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }

  &__info {
    @include onTablet {
      padding-left: 104px;
    }

    @include onDesktop {
      padding-left: 0px;
    }
  }

  &__name {
    margin: 0 0 8px;

    font-size: 16px;
    line-height: 140%;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__role {
    margin: 0 0 12px;
    font-weight: 400;
  }

  &__link {
    text-decoration: none;
    color: $colorGrey;
    
    &:hover {
      color: $colorHoverLinks;
  }
  }
}
